/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BUILD_INTERVALS {
        publishDir = [
            enabled: false
        ]
    }

    withName: CREATE_INTERVALS_BED {
        publishDir = [
            enabled: false
        ]
    }

    withName: GATK4_MUTECT2 {
        ext.args = "--native-pair-hmm-threads"
        publishDir = [
            enabled: false
        ]
    }

    withName: GATK4_LEARNREADORIENTATIONMODEL {
        publishDir = [
            enabled: false
        ]
    }

    withName: GATK4_CALCULATECONTAMINATION {
        publishDir = [
            enabled: false
        ]
    }

    withName: GATK4_GATHERPILEUPSUMMARIES {
        publishDir = [
            enabled: false
        ]
    }

    withName: GATK4_MERGEMUTECTSTATS {
        publishDir = [
            enabled: false
        ]
    }

    withName: GATK4_FILTERMUTECTCALLS {
        publishDir = [
            path: { "${params.outdir}/Reports/gatk4_filtermutectcalls/${patient}" },
            mode: params.publish_dir_mode,
            pattern: "*filteringStats.tsv"
        ]
    }

    withName: ENSEMBLVEP {
        ext.args = "mutect2"
        publishDir = [
            path: { "${params.outdir}/Reports/vep/${patient}" },
            mode: params.publish_dir_mode,
            pattern: '*html'
        ]
    }

    withName: PLAT_VEP {
        ext.args = "platypus"
        publishDir = [
            path: { "${params.outdir}/Reports/vep/${patient}" },
            mode: params.publish_dir_mode,
            pattern: '*html'
        ]
    }

    withName: VCF2MAF {
        ext.args = "platypus"
        publishDir = [
            path: { "${params.outdir}/Processed/call_variants/MAF/${patient}/${id}" },
            mode: params.publish_dir_mode,
            pattern: '*maf'
        ]
    }

    withName: GATK4_GETPILEUPSUMMARIES {
        publishDir = [
            enabled: false
        ]
    }

    withName: CONCAT_VCF {
        ext.args = 'mutect2'
        publishDir = [
            enabled: false
        ]
    }
    withName: VCF_SPLIT {
        publishDir = [
            enabled: false
        ]
    }

    withName: PLATYPUS_CALLVARIANTS {
        publishDir = [
            enabled: false
        ]
    }

    withName: CONCAT_PLATYPUS {
        ext.args = 'platypus'
        publishDir = [
            enabled: false
        ]
    }

    withName: SEQUENZAUTILS_GCWIGGLE {
        publishDir  = [
            enabled: "${params.save_reference}",
            mode: params.publish_dir_mode,
            path:  "${params.genomes_base}/Homo_sapiens/sequenza/${params.genome}/wiggle/",
            pattern: "*wig.gz"
        ]
    }

    withName: SEQUENZAUTILS_RSEQZ {
        publishDir = [
            mode: params.publish_dir_mode,
            path: "${params.outdir}/sequenzautils/ploidy_${params.ploidy}/gamma_${params.sequenza_gamma}"
        ]
    }

    withName: EVOVERSE_CNAQC {
        publishDir = [
            mode: params.publish_dir_mode,
            path: "${params.outdir}/evoverse/ploidy_${params.ploidy}/gamma_${params.sequenza_gamma}",
            pattern: '*{pdf,rds}'
        ]
    }

    withName: SEQUENZAUTILS_BAM2SEQZ {
        publishDir = [
            enabled : false
        ]
    }

    withName: SEQUENZAUTILS_MERGESEQZ {
        publishDir = [
            enabled : false
        ]
    }

    withName: SEQUENZAUTILS_BINNING {
        ext.args   = "-w ${params.bin}"
        publishDir = [
            enabled: false
        ]
    }

    withName: PLATYPUS_FILTER {
        publishDir = [
            enabled: false
        ]
    }

    withName: ZIP_PLATYPUS_ANN_VCF {
        publishDir = [
            path:    { "${params.outdir}/Processed/call_variants/platypus/${patient}" },
            mode:    params.publish_dir_mode,
            pattern: '*{gz,tbi}'
        ]
    }

    withName: ZIP_MUTECT_ANN_VCF {
        publishDir = [
            path:    { "${params.outdir}/Processed/call_variants/mutect2/${patient}" },
            mode:    params.publish_dir_mode,
            pattern: '*{gz,tbi}'
        ]
    }
    withName: MAPPABILITY {
        publishDir = [
            path:    { "${params.outdir}/Reports/mappability/${patient}" },
            mode:    params.publish_dir_mode,
            pattern: '*out'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: ZIP_MUTECT_MONO_VCF {
        publishDir = [
            path: { "${params.outdir}/Processed/call_variants/mutect2/${patient}/${patient_sample}" },
            mode : params.publish_dir_mode,
            pattern: '*{gz,tbi}'
        ]
    }

}
